.login-container {
  height: 100vh; /* Ocupa toda a altura da tela */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--app-background-color); // Usa variável
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  // O mat-card já receberá a cor de fundo do tema
  // (var(--app-card-background-color) via Material)
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  justify-content: flex-end; /* Botão alinhado à direita */
  margin-top: 20px;
}
