.login-container {
  height: 100vh; /* Ocupa toda a altura da tela */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5; /* Cinza claro para o fundo */
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;

  mat-card-header {
    justify-content: center;
    margin-bottom: 20px;

    .mat-card-header-text {
      margin: 0; /* Remove margem padrão do Material que as vezes atrapalha a centralização */
    }
  }
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  justify-content: flex-end; /* Botão alinhado à direita */
  margin-top: 20px;
}
