.app-container {
  height: 100vh;
  width: 100vw;
  // O fundo do container principal já vem do 'body'
}

.app-sidebar {
  width: 250px;
  border-right: 1px solid var(--app-border-color); // Usa variável
  padding: 20px;
  background-color: var(--app-sidebar-background-color); // Usa variável
}

.app-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-content {
  padding: 24px;
  flex-grow: 1; /* Ocupa o espaço restante */
  overflow-y: auto; /* Adiciona scroll se necessário */
}
