.app-container {
  height: 100vh;
  width: 100vw;
}

.app-sidebar {
  width: 250px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  padding: 20px;
  background-color: #fafafa;
}

.app-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-content {
  padding: 24px;
  flex-grow: 1; /* Ocupa o espaço restante */
  overflow-y: auto; /* Adiciona scroll se necessário */
}
