.menu-header {
  font-weight: 500;
  font-size: 0.85rem;
  padding: 8px 16px;
  color: var(--app-text-color-secondary);
  margin-top: 16px;
}

.sidebar-divider {
  margin: 8px 0;
}

.active-link {
  background-color: var(--app-primary-light);
  color: var(--app-primary-color);

  .mat-icon {
    color: var(--app-primary-color);
  }
}

mat-nav-list {
  padding-top: 0;

  [matListItemTitle] {
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
  }
}