<h3 class="menu-header">Menu Principal</h3>
<mat-nav-list>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <span matListItemTitle>Dashboard</span>
  </a>

  <a mat-list-item routerLink="/encomenda-create" routerLinkActive="active-link">
    <mat-icon matListItemIcon>add_shopping_cart</mat-icon>
    <span matListItemTitle>Nova Encomenda</span>
  </a>

  <mat-divider style="margin: 8px 0;"></mat-divider>

  <a mat-list-item routerLink="/gestao-equipes" routerLinkActive="active-link">
    <mat-icon matListItemIcon>settings_applications</mat-icon>
    <span matListItemTitle>Minhas Equipes</span>
  </a>
</mat-nav-list>
