<mat-toolbar color="primary">
  <button mat-icon-button (click)="onMenuClick()" aria-label="Menu" style="margin-right: 8px;">
    <mat-icon>menu</mat-icon>
  </button>

  <span>Sistema de Encomendas</span>

  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="menuEquipes"> <mat-icon>groups</mat-icon>
    <span *ngIf="teamService.equipeAtiva$ | async as equipeAtiva; else semEquipe"> {{ equipeAtiva.nome }} </span>
    <ng-template #semEquipe> Selecionar Equipe </ng-template>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #menuEquipes="matMenu">
    <button *ngFor="let equipe of equipes$ | async" mat-menu-item (click)="selecionarEquipe(equipe)">
      <span>{{ equipe.nome }}</span>
    </button>
  </mat-menu>

  <button mat-icon-button (click)="toggleTheme()">
    <mat-icon>{{ (isDark$ | async) ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>

  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
