.spacer {
  flex: 1 1 auto;
}

.navbar-brand {
  font-weight: 500;
  font-size: 1.1rem;
}

.team-selector-btn {
  margin-left: 8px;

  /* No celular, esconde o texto da equipe */
  @media (max-width: 600px) {
    .team-name {
      display: none;
    }
    min-width: 0;
    padding: 0 8px;
  }
}

mat-icon {
  vertical-align: middle;
}
